# PyCharm ###
.idea/

# Visual Studio ###
Release/
Debug/
.vs/
*.VC.db
*.sdf
*.suo
*.opendb
*.psess
*.vsp
*.vspx
*.sln
*.pyproj
x64

# R ###
.Rhistory

*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots